*.texshop
*.sw?
*.DS_Store
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*._log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

*.tex.project.vim
*.aux
*._aux

Chapter1/Chapter1Figs/flow_insertion/
Chapter1/Chapter1Figs/flow_stats/
Chapter1/Chapter1Figs/interaction_test/
Chapter1/Chapter1Figs/ocaml-switch/
Chapter1/Chapter1Figs/pkt_in_out/
Chapter1/Chapter1Figs/platform_delay/
Chapter1/Chapter1Figs/switch_delay/
Chapter1/Chapter1Figs/timer_precision/
.btmp
.itmp
thesis.brf
thesis.nls

*.make
*.cookie
